.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
}

.header h1{
    text-align: center;
    text-shadow: #2a2d31 1px 1px 0;
}

.header span{
    color: #2a2d31;
    text-shadow: whitesmoke 1px 0 0;
}

.header button{
    cursor: none;
}

.header button:hover {
 display: none;
}